* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  text-transform: capitalize;
  background-color: #d9d9d9;
  max-width: 100%;
  display: flex;
}

.box1 {
  width: 367px;
  height: 479px;
  margin: 71px 496px 143px 496px;
  border-radius: 8px;
  background-color: white;
  margin: 0 auto;
  align-items: center;
  margin-top: 200px;
}
.boxHead {
  width: 367px;
  height: 220px;
}
/* header */
.nameTag {
  width: 288px;
  height: 60px;
  margin: 16px 24px 16px;
  color: #5468e7;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 24px;
  line-height: 30px;
}
/* middle */
.info {
  width: 288px;
  height: 92px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: #232340;
  margin: 24px 16px 0px 16px;
}
.footerContainer {
  width: 364px;
  height: 48px;
  display: flex;
}
.profPhoto {
  width: 48px;
  height: 48px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.short-span {
  width: 143px;
  height: 23px;
  margin: 12.5px 8px;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 23px;
  color: #7676b2;
}

.short-p {
  width: 80px;
  height: 23px;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 23px;
  margin: 12.5px 8px 28px 16px;
  color: #7676b2;
}
