* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  text-transform: capitalize;
  background-color: #d9d9d9;
  max-width: 100%;
  display: flex;
}

.box1 {
  width: 367px;
  height: 509px;
  margin: 71px 496px 143px 496px;
  border-radius: 8px;
  background-color: white;
  justify-content: center;
}
.boxHead {
  width: 367px;
  height: 220px;
}
/* header */
.nameTag {
  width: 335px;
  height: 60px;
  margin: 16px 24px 16px;
  color: #5468e7;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 24px;
  line-height: 30px;
}
/* middle */
.info {
  width: 335px;
  height: 69px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: #232340;
  margin: 24px 16px 48px 16px;
}
.footerContainer {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
}
.profPhoto {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.short {
  width: 159px;
  height: 48px;
}
.short1 {
  width: 143px;
  height: 23px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: #7676b2;
}
.short3 {
  width: 96px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
}
.short3-p {
  width: 80px;
  height: 23px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: #7676b2;
}
